
<div class="card text-dark bg-light mb-3" style="max-width: 18rem;">
  <h2>{{categoryName}}</h2>
  {{#each books as |book|}}
  <p> {{book.title}} </p>
  <p> {{book.author}} </p>
  <p> {{book.ISBN}} </p>
  <p>
    <button class="btn btn-primary">Checkout {{book.title}}</button>
  </p>
<br>
  {{/each}}
</div>